$color--black: #333;
$color--gray: #eee;
$color--white: #fafafa;
$color--purple: #524375;
$color--light-purple: #bd5eff;

$color--warning: #ff763c;
$color--error: #fe4a49;
$color--required: #fe4a49;

$color--event-ico: #ff5757;
$color--event-hackathon: #ff8f57;
$color--event-summit: #ffd500;
$color--event-crowdsale: #00edb1;
$color--event-conference: #00b8ff;
$color--event-meetup: #3de5ff;
$color--event-release: #4f64ff;
$color--event-workshop: #bd5eff;

$color--dapp-live: #b6fc94;
$color--dapp-live-light: #e2ffd4;
$color--dapp-beta: #ffe952;
$color--dapp-beta-light: #fff4ab;
$color--dapp-stealth: #F5F5F5;
$color--dapp-stealth-light: #FAFAFA;
$color--dapp-prototype: #ffba4a;
$color--dapp-prototype-light: #ffe1b0;
$color--dapp-wip: #8ac3ff;
$color--dapp-wip-light: #c9e3ff;
$color--dapp-concept: #b391ff;
$color--dapp-concept-light: #d6c4ff;
$color--dapp-unknown: #F5F5F5;
$color--dapp-unknown-light: #FAFAFA;
$color--dapp-abandoned: #F5F5F5;
$color--dapp-abandoned-light: #FAFAFA;
$color--dapp-broken: #c1c1c1;
$color--dapp-broken-light: #c1c1c1;

//
$color--category-gambling: #FFAAC0;

$color--category-games:#FFC8AA;

$color--category-exchanges: #D6F5FF;
$color--category-finance: #A0EBDE;
$color--category-wallet: #BDEBC8;

$color--category-development: #C4E7FF;

$color--category-media: #FFF6B7;

$color--category-security:#E9FFA7;
$color--category-property: #C9D4EB;
$color--category-storage: #C9D7FF;
$color--category-identity: #A3ACD6;

$color--category-governance: #DDEFCB;

$color--category-energy: #FFEEBF;

$color--category-insurance: #D7FAD5;
$color--category-health: #C8E2C6;
$color--category-social: #C7DAFF;
//

$color--negative: #ff005a;
$color--neutral: #ffb400;
$color--positive: #1db200;
